# Data Types and Structures

## Operations and Expressions
There are a number of operations that are common to all data types

### truth value
Everything is 'True' except:
1) The None type
2) False
3) An integer, float, or complex number that is 0
4) An empty sequence or mapping
5) An instance of a user-defined class that defines a __len__() or __bool__() method that returns 0 or False

### Boolean Methods and Comparison and Arithmetic Operators
DUH

### Membership, identity, and logical operation
Membership (in/not in) tests for variables in a sequence, it tests exactly how you would expect

In [4]:
# object identity is a bit more complicated
x = [1,2,3] ; y = [1,2,3]
#testing for equivalence
x == y

True

In [5]:
#testing for identity
x is y

False

In [6]:
#assigning identity
x = y

x is y

True

# Built-In Data Types
Python has several built-in data types across three categories: numeric, sequence, and mapping. Classes, files, and exceptions are also 'types' but are not considered here. Every value in Python has a 'data type', and they do not need to be explicitly called or declared at variable creation

In [7]:
# None Type
x = None
type(x)

NoneType

In [8]:
# Numeric Types (if you need precision there is a 'decimal' module)
types = {}
values = [1,1.5,True, 2+3j]
names = ['Int','Float','Bool','Complex']

def makeTypeDict(name,val):
    print(x)
    print(name)
   # types['name'] = {5}
    types[name] = {'value': val, 'dataType': type(val)}

In [9]:
for i in range(len(values)):
    name_to_send = names[i]
    val_to_send = values[i]
    types[name_to_send] = {'value': val_to_send, 'dataType': type(val_to_send)}
    #makeTypeDict(name_to_send,val_to_send)

In [10]:
types

{'Bool': {'dataType': bool, 'value': True},
 'Complex': {'dataType': complex, 'value': (2+3j)},
 'Float': {'dataType': float, 'value': 1.5},
 'Int': {'dataType': int, 'value': 1}}

## Sequence data types

Sequence data types are ORDERED sets of objects indexed by non-negative integers. Lists and Tuples are sequences of arbitrary objects, strings are sequences of characters. String, tuple, and range objects are immutable.
--All sequence types are capable of some similar operations including indexing and slicing.

In [11]:
#All sequences also support several other methods
s = [1,2,3]

#len
print("len:",len(s))

#min
print("min:",min(s))

#max
print("max:",max(s))

#sum
print("sum:",sum(s))

#all (checks whether all elements are true)
print("all:",all(s))

#any (checks whether any element is true)
print("any:",any(s))

('len:', 3)
('min:', 1)
('max:', 3)
('sum:', 6)
('all:', True)
('any:', True)

In [12]:
#Concatentation
r = [4,5]
s + r

[1, 2, 3, 4, 5]

In [13]:
#making copies
s * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
#unpacking
v1,v2,v3 = s
v1

1

## Tuples
Tuples are immutable sequences of arbitrary objects, they are indexed by integers GREATER than zero. They are HASHABLE, so we can sort lists of them, and they can be used as keys to dictionaries, they are essentially created similar to a list but with '()' instead of '[]'. ALWAYS use a trailing comma if there is just one element.

In [15]:
#create a tuple
t = (1,2,3)

t2 = tuple('kane')

print(t,t2)

((1, 2, 3), ('k', 'a', 'n', 'e'))

In [16]:
#tuples can be used to assign more than one vaiable at a time

x,y = ['one','two']
print("x",x)
print("y",y)

('x', 'one')
('y', 'two')

In [17]:
#we can also use them to swap values between variables
x,y = y,x
print("x",x)
print("y",y)

('x', 'two')
('y', 'one')

## Dictionaries
Arbitrary collections of objects indexed by numbers, strings, or other immutable objects (hashable). Dictionaries are mutable but their index keys must not be mutable. Can be thought of as similar to a hashtable or associative array that is found in other languages

In [18]:
#length
d = {'l':5,'k':6}
len(d)

2

In [19]:
#clear
print(d)
d.clear()
print(d)

{'k': 6, 'l': 5}
{}

In [20]:
#copy (shallow)
d = {'l':5,'k':6}
d2 = d.copy()

print(d2)

{'k': 6, 'l': 5}

In [21]:
#fromkeys (a way to create a dictionary with keys from a sequence)
keys,vals = ['a','b','c'],[5,6,7]
x = d.fromkeys(keys,vals)
x

{'a': [5, 6, 7], 'b': [5, 6, 7], 'c': [5, 6, 7]}

In [22]:
#get
x.get('b')

[5, 6, 7]

In [23]:
#items (returns a sequence of key:value pairs from the dict)
x.items()[1][1]

[5, 6, 7]

In [24]:
x

{'a': [5, 6, 7], 'b': [5, 6, 7], 'c': [5, 6, 7]}

In [25]:
#pop (returns the value associated with that key, or it returns the default if given, and if not KeyError)
x.pop('b')

[5, 6, 7]

In [26]:
#popitem (removes a random key:value pair and returns it as a tuple)
print(x)
print(x.popitem())
print(x)

{'a': [5, 6, 7], 'c': [5, 6, 7]}
('a', [5, 6, 7])
{'c': [5, 6, 7]}

In [27]:
#set default (returns d[k], if not found, returns v and sets d[k] to v)
print(x.setdefault('r',[6,7]))
print(x)

[6, 7]
{'c': [5, 6, 7], 'r': [6, 7]}

In [28]:
#update (essentially appends one dict onto another)
print(x)
print(d)
d.update(x)
print(d)

{'c': [5, 6, 7], 'r': [6, 7]}
{'k': 6, 'l': 5}
{'c': [5, 6, 7], 'k': 6, 'r': [6, 7], 'l': 5}

In [29]:
#values (returns a sequence of the values)
d.values()

[[5, 6, 7], 6, [6, 7], 5]

In [30]:
x.values()

[[5, 6, 7], [6, 7]]

In [31]:
#we test membership with 'in'
'y' in d

#fun fact (FF) since dictionaries are hashed and thus sorted, when using 'in' it is essentially O(1) time

False

### Sorting Dictionaries

In [32]:
d = {'a':3,'b':2,'c':1}
#sorting keys
sorted(list(d))

['a', 'b', 'c']

In [33]:
#sorting values
sorted(list(d.values()),reverse=False)

[1, 2, 3]

In [34]:
# sorted() has two interesting optional arguments 'key' and 'reverse', 'key' is an algorithm that is used to sort
sorted(list(d),key=d.__getitem__)
#this is sorting by values in the dict

['c', 'b', 'a']

In [35]:
#we can also sort the values by the keys but dicts do not have a method to return a key based on a value
#this is tricky but uses list comprehensions and works
[value for (key,value) in sorted(d.items())]

[3, 2, 1]

In [36]:
[ x for (y,x) in sorted(d.items())]

[3, 2, 1]

In [37]:
#what if the keys and values are not easily sortable 
d2 = {'one':'uno','two':'deux','three':'trois','four':'quatre','five':'cinq','six':'six'}
d2

{'five': 'cinq',
 'four': 'quatre',
 'one': 'uno',
 'six': 'six',
 'three': 'trois',
 'two': 'deux'}

In [38]:
sorted(d2.items())

[('five', 'cinq'),
 ('four', 'quatre'),
 ('one', 'uno'),
 ('six', 'six'),
 ('three', 'trois'),
 ('two', 'deux')]

In [39]:
d = {'five':5,'four':4,'one':1,'two':5,'three':5,'six':5,'zero':5}

In [40]:
sorted(d2,key=d.__getitem__)

['one', 'four', 'six', 'three', 'two', 'five']

In [41]:
def corder(string):
    return(string[len(string)-1])

In [42]:
sorted(d2.values(),key=corder)

['quatre', 'uno', 'cinq', 'trois', 'six', 'deux']

In [53]:
def wordcount(fname):
    try:
        fhand=open(fname,"r")
        count = dict()
        for line in fhand:
            words = line.split()
            for word in words:
                if word not in count:
                    count[word] = 1
                else:
                    count[word] += 1
        return(count)
    except:
        print('File cannot be opened')

In [58]:
path = r"C:\Users\Kane.Merrill\Desktop\test_text_file.txt"

In [59]:
test = wordcount(path)

In [63]:
for i in range(5):
    print(test[sorted(list(test),key=test.__getitem__,reverse=True)[i]])

304
277
225
207
188

In [69]:
top_five = sorted(list(test),key=test.__getitem__,reverse=True)[:5]

In [70]:
for i in top_five:
    print(i,":",test[i])

('I', ':', 304)
('to', ':', 277)
('and', ':', 225)
('that', ':', 207)
('the', ':', 188)

In [71]:
filterd = {key:value for key,value in test.items() if value > 150}

In [72]:
filterd

{'I': 304, 'and': 225, 'that': 207, 'the': 188, 'to': 277}

## Sets

In [95]:
#unordered collections of unique items, most useful for intersections, union, difference, and complement operations
#mutable
a = set()
b = {4,5,6,7}
#immutable?
x=frozenset()

In [96]:
a.add(5)
a.add(6)
a.add(5)
a.add(8)

In [97]:
a

{5, 6, 8}

In [98]:
len(a)

3

In [99]:
type(b)

set

In [100]:
a.difference(b)

{8}

In [101]:
a.intersection(b)

{5, 6}

In [102]:
a.isdisjoint(b)

False

In [103]:
a.issubset(b)

False

In [104]:
a.issuperset(b)

False

In [105]:
a.symmetric_difference(b)

{4, 7, 8}

In [106]:
a.union(b)

{4, 5, 6, 7, 8}

In [107]:
#you can use the methods with anything, the operator versions need two sets, check it out
a.union([1,2,3])

{1, 2, 3, 5, 6, 8}

In [108]:
a | b

{4, 5, 6, 7, 8}

In [109]:
a | [1,2,3]

TypeError: unsupported operand type(s) for |: 'set' and 'list'

## Collections

In [110]:
#Collections extend the built in data types with some additional functionality

In [134]:
#Deques ('decks') are used since adding an item to the front of them is faster than adding to a list
from collections import deque
import itertools

dq = deque('abc')

In [118]:
type(dq)

collections.deque

In [113]:
dq

deque(['a', 'b', 'c'])

In [114]:
dq.append('g')

In [115]:
dq

deque(['a', 'b', 'c', 'g'])

In [120]:
dq.appendleft('z')
dq

deque(['z', 'z', 'a', 'b', 'c'])

In [121]:
dq.pop()

'c'

In [122]:
dq.popleft()

'z'

In [123]:
dq

deque(['z', 'a', 'b'])

In [124]:
dq.extend("testing")

In [125]:
dq

deque(['z', 'a', 'b', 't', 'e', 's', 't', 'i', 'n', 'g'])

In [126]:
dq.extendleft('lefttest')

In [135]:
dq = deque('kane')

In [136]:
dq

deque(['k', 'a', 'n', 'e'])

In [137]:
dq.rotate(2)

In [138]:
dq

deque(['n', 'e', 'k', 'a'])

In [139]:
#using rotate and pop you can remove specific items
dq[1]

'e'

In [141]:
list(itertools.islice(dq,2,4))

['k', 'a']

In [142]:
#you can use a deque to have a maxlen operations, often useful as a 'circular buffer'
dq2 = deque([],maxlen=3)
for i in range(6):
    dq2.append(i)
    print(dq2)

deque([0], maxlen=3)
deque([0, 1], maxlen=3)
deque([0, 1, 2], maxlen=3)
deque([1, 2, 3], maxlen=3)
deque([2, 3, 4], maxlen=3)
deque([3, 4, 5], maxlen=3)

## Chainmaps

In [ ]:
# a way to treat a bunch of dictionaries as one group, with default that can be overridden and then reverted to, has to be Python3
from collections import ChainMap

defaults = {'theme':'Default','language':'eng'}

## Counter Objects

In [145]:
# a way to easily count things, it is a dictionary you can pass an iterable to and it will return counts
#they are nice since they return 0 instead of an error if the key doesnt exist (defaultdict?)
from collections import Counter

d = Counter('kaane')
d

Counter({'a': 2, 'e': 1, 'k': 1, 'n': 1})

In [146]:
d.update('kaane')

In [147]:
d

Counter({'a': 4, 'e': 2, 'k': 2, 'n': 2})

In [148]:
d.most_common()

[('a', 4), ('k', 2), ('e', 2), ('n', 2)]

In [149]:
d.most_common(2)

[('a', 4), ('k', 2)]

In [150]:
d.subtract('kaane')

In [151]:
d

Counter({'a': 2, 'e': 1, 'k': 1, 'n': 1})

## OrderedDict

In [1]:
# keeps keys in the order in which they were added,wont be equal to a dict with the same keys/values 
from collections import OrderedDict

In [3]:
od1 = OrderedDict()
od1['one'] = 1
od1['two'] = 2

In [5]:
od1

OrderedDict([('one', 1), ('two', 2)])

In [7]:
kvs = [('three',3),('four',4),('five',5),('six',6)]

In [8]:
od1.update(kvs)

In [9]:
od1

OrderedDict([('one', 1),
             ('two', 2),
             ('three', 3),
             ('four', 4),
             ('five', 5),
             ('six', 6)])

In [10]:
for k,v in od1.items():print(k,v)

('one', 1)
('two', 2)
('three', 3)
('four', 4)
('five', 5)
('six', 6)

## Default Dict

In [11]:
#same as a dictionary but with one method changed, that will allow you to return a default value if the key doesnt exist
from collections import defaultdict

In [12]:
dd = defaultdict(int)
words = str.split('red blue green red yellow blue red green green red')
for word in words: dd[word]+=1
dd

defaultdict(int, {'blue': 2, 'green': 3, 'red': 4, 'yellow': 1})

In [21]:
def isprimary(c):
    if c.lower() in ['red','blue','green']:
        return True
    else:
        return False

## Named Tuples

In [24]:
#a tuple like object that has fields with named indexes as well as the integer indexes of normal tuples
#almost like a 'class' type object
from collections import namedtuple

In [26]:
space = namedtuple('space','x y z')

s1 = space(x = 2.0, y = 4.0, z = 6.0)

In [29]:
s1.x

2.0

## Arrays

In [ ]:
#arrays are essentially lists but the contents must be of one single type of 'representation'